<header class="header">
    <div class="logo">
        <mat-icon color="accent" class="logoIcon">store</mat-icon>
        <span class="title">{{title}}</span>
    </div>
    <div class="container">
        <button mat-button color="accent" routerLink="">Home</button>
        <button mat-button color="accent" routerLink="/products">Products</button>
        <span></span>
        <button mat-button color="accent" routerLink="/login">Log in</button>
        <mat-icon class="basketIcon">shopping_basket</mat-icon>
    </div>
</header>