:host{
    background: #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    flex: 1;
}
